.profile {
    text-align: center;
}

.forms {
    margin: 1rem 0 2rem; 
}

.forms form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem; 
    margin-bottom: 1rem; 
}

.forms form input, 
.forms form button {
    height: 30px; 
}

.forms form input {
    padding: 0.8rem; 
    overflow: auto;
}

.profile p {
    color: #aaa; 
    margin: 1.5rem 0 2rem;
}

.profile_info p {
    color: black !important; 
}


@media only screen and (max-width: 450px) {    
    .forms form {
        flex-direction: column;
        width: 100%; 
        gap: 0.5rem; 
        justify-content: center;
        align-items: center;
    }

    .forms form input {
        width: 100%; 
        text-align: center;
        height: auto; 
    }

    .forms form button {
        width: 100%; 
        max-width: 100px; 
        text-align: center;
        height: auto; 
    }
}